body{
    background-color: #C8E4B2;
    margin: 0;
}
.container1{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 25% 25% 50% / 25% 50% 25%;
}
.bottomimage{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 2;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2;
    font-size: 2rem;
    color:#435334;
}
.hat{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 2 / 1;
}
.notebooks{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 3 / 2 / 3;
}

.eugene{
display: flex;
justify-content: center;
align-items: center;
}
.eugenepic{
    margin-top: 10%;
    margin-bottom: 2%;
    border-radius: 50%;
}
.eugeneheading{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.3rem;
    color: #435334;
}
.picheading{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 1.6rem;
    color: #435334;
}
.container2{
    display: grid;
    grid-template: 45% 45% / 25% 20% 50%;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    row-gap: 2rem;
    
}
.skillheading{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 1.6rem;
    color: #435334;
}
.gif{
    grid-area: 1 / 2;
}
.giftext{
    margin-top: 0;
    grid-area: 1 / 3;
    font-size: 1.2rem;
}
.gif2{
    grid-area: 2 / 2;
}
.giftext2{
    margin-top: 0;
    grid-area: 2 / 3;
    font-size: 1.2rem;
}

ul{
    padding-left: 0;
   list-style-type: none;
}
li:before{
   content: '✅'; 
}
.btn{
    display: flex;
    justify-content: center;
}
.button{
    margin-top: 4%;
    height: 40px;
    width: 200px;
    font-size: 1.8rem;
    border: solid green;
    background-color: brown;
    color: yellow;
    border-radius: 10%;

}
#footer{
    margin-top: 5%;
    font-size: 1.2rem;
}
