body{
    
    margin: 0;
}
.container1{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 25% 25% 50% / 25% 50% 25%;
}
.bottomimage{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 2;
}
.heading{
    grid-area: 1 2 / 1 2;
}