body{
    background-color: #C8E4B2;
    margin: 0;
}
.container1{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 25% 25% 50% / 25% 50% 25%;
}
.bottomimage{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 2;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2;
    font-size: 2rem;
    color:#435334;
}
.hat{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 2 / 1;
}
.notebooks{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 3 / 2 / 3;
}

.eugene{
display: flex;
justify-content: center;
align-items: center;
}
.eugenepic{
    margin-top: 10%;
    margin-bottom: 2%;
    border-radius: 50%;
}
.eugeneheading{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.3rem;
    color: #435334;
}
.picheading{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 1.6rem;
    color: #435334;
}
.container2{
    display: grid;
    grid-template: 25% 5% 25% 5%/ 25% 20% 30%;
    width: 100%;
    height: 60%;
    margin-top: 10%;
    
}
.skillheading{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 1.6rem;
    color: #435334;
}
.gif{
    grid-area: 1 / 2;
}
.giftext{
    grid-area: 1 / 3;
    margin-top: 0;
    font-size: 1.2rem;
}
.gif2{
    grid-area: 3 / 2;
}
.giftext2{
    grid-area: 3 / 3;
    margin-top: 0;
    font-size: 1.2rem;
}

ul{
    padding-left: 0;
   list-style-type: none;
}
li:before{
   content: '✅'; 
}
.buttoncont{
    display: grid;
    grid-template: 10% / 25% 50% ;
}
button{
    margin-left: 25%;
    grid-area: 1 / 2;
    background-color: aquamarine;
    font-size: 19px;
    height: 40px;
    width: 200px;
    
}